:root {
  --RADIUS-SM: 0.25rem;
  --RADIUS-MD: 0.5rem;
  --RADIUS-LG: 0.75rem;
  --RADIUS-XL: 1rem;
  --RADIUS-FULL: 9999px;
}

/*
* ------------
*   Tailwind
* ------------
*/

@theme inline {
  --radius-sm: var(--RADIUS-SM);
  --radius-md: var(--RADIUS-MD);
  --radius-lg: var(--RADIUS-LG);
  --radius-xl: var(--RADIUS-XL);
  --radius-full: var(--RADIUS-FULL);
}
