:root {
  --SHADOW-SM: 0 1px 2px 0 oklch(0 0 0 / 0.05);
  --SHADOW-MD: 0 4px 6px -1px oklch(0 0 0 / 0.1), 0 2px 4px -2px oklch(0 0 0 / 0.1);
  --SHADOW-LG: 0 10px 15px -3px oklch(0 0 0 / 0.1), 0 4px 6px -4px oklch(0 0 0 / 0.1);
}

/*
* ------------
*   Tailwind
* ------------
*/

@theme inline {
  --shadow-sm: var(--SHADOW-SM);
  --shadow-md: var(--SHADOW-MD);
  --shadow-lg: var(--SHADOW-LG);
}
