:root {
  --R-SIZE-1: 2.25rem;
  --R-SIZE-2: 1.25rem;
  --R-SIZE-3: 1rem;
  --R-SIZE-4: 0.75rem;
  --R-SIZE-5: 0.5rem;
  --R-SIZE-6: 0.25rem;
}

/* 640px */
@media (width >= 40rem) {
  :root {
    --R-SIZE-1: 6rem;
    --R-SIZE-2: 2rem;
    --R-SIZE-3: 1.5rem;
    --R-SIZE-4: 1.25rem;
    --R-SIZE-5: 0.75rem;
    --R-SIZE-6: 0.25rem;
  }
}

/*
* ------------
*   Tailwind
* ------------
*/

@theme inline {
  --spacing-r1: var(--R-SIZE-1);
  --spacing-r2: var(--R-SIZE-2);
  --spacing-r3: var(--R-SIZE-3);
  --spacing-r4: var(--R-SIZE-4);
  --spacing-r5: var(--R-SIZE-5);
  --spacing-r6: var(--R-SIZE-6);
}
