/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

:root {
  /* Headings */
  --H1: 2.25rem;
  --H1-line-height: 2.75rem;

  --H2: 1.75rem;
  --H2-line-height: 2.25rem;

  --H3: 1.5rem;
  --H3-line-height: 2rem;

  --H4: 1.25rem;
  --H4-line-height: 2rem;

  --H5: 1.125rem;
  --H5-line-height: 1.75rem;

  --H6: 1rem;
  --H6-line-height: 1.5rem;

  /* Body */
  --BodyText-1: 0.875rem;
  --BodyText-1-line-height: 1.875rem;

  --BodyText-2: 0.8125rem;
  --BodyText-2-line-height: 1.5rem;

  --BodyText-3: 0.75rem;
  --BodyText-3-line-height: 1.75rem;

  --Semibold-Weight: 500;
  --Bold-Weight: 600;
}

/* 640px */
@media (width >= 40rem) {
  :root {
    /* Headings */
    --H1: 4rem;
    --H1-line-height: 4.5rem;

    --H2: 3rem;
    --H2-line-height: 4rem;

    --H3: 2.25rem;
    --H3-line-height: 3.125rem;

    --H4: 1.75rem;
    --H4-line-height: 2.625rem;

    --H5: 1.25rem;
    --H5-line-height: 2rem;

    --H6: 1.25rem;
    --H6-line-height: 2rem;

    /* Body */
    --BodyText-1: 1rem;
    --BodyText-1-line-height: 2rem;

    --BodyText-2: 0.875rem;
    --BodyText-2-line-height: 1.75rem;

    --BodyText-3: 0.8125rem;
    --BodyText-3-line-height: 1.75rem;

    --Semibold-Weight: 600;
    --Bold-Weight: 700;
  }
}

/*
* ------------
*   Tailwind
* ------------
*/

/* 
 use 'inline' to allow overriding
 You can do inline overrides with this syntax: [--R-SIZE-1:1.25rem]
 */
@theme inline {
  --text-h1: var(--H1);
  --text-h1--line-height: var(--H1-line-height);

  --text-h2: var(--H2);
  --text-h2--line-height: var(--H2-line-height);

  --text-h3: var(--H3);
  --text-h3--line-height: var(--H3-line-height);

  --text-h4: var(--H4);
  --text-h4--line-height: var(--H4-line-height);

  --text-h5: var(--H5);
  --text-h5--line-height: var(--H5-line-height);

  --text-h6: var(--H6);
  --text-h6--line-height: var(--H6-line-height);

  --text-body-1: var(--BodyText-1);
  --text-body-1--line-height: var(--BodyText-1-line-height);

  --text-body-2: var(--BodyText-2);
  --text-body-2--line-height: var(--BodyText-2-line-height);

  --text-body-3: var(--BodyText-3);
  --text-body-3--line-height: var(--BodyText-3-line-height);

  --font-weight-bold: var(--Bold-Weight);
  --font-weight-semibold: var(--Semibold-Weight);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-family: var(--HEADING-FONT);
    letter-spacing: var(--HEADING-LETTER-SPACING);
    text-transform: var(--HEADING-TEXT-TRANSFORM);
  }

  h1,
  .h1 {
    font-size: var(--H1);
    line-height: var(--H1-line-height);
    font-weight: 700;
  }

  h2,
  .h2 {
    font-size: var(--H2);
    line-height: var(--H2-line-height);
    font-weight: 700;
  }

  h3,
  .h3 {
    font-size: var(--H3);
    line-height: var(--H3-line-height);
    font-weight: 700;
  }

  h4,
  .h4 {
    font-size: var(--H4);
    line-height: var(--H4-line-height);
    font-weight: 700;
  }

  h5,
  .h5 {
    font-size: var(--H5);
    line-height: var(--H5-line-height);
    font-weight: 700;
  }

  h6,
  .h6 {
    font-size: var(--H6);
    line-height: var(--H6-line-height);
    font-weight: 600;
  }
}
